.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    .modal-container{
        position: fixed;
        top: 50%;
        left: 50%;
        width: calc(100% - 32px);
        border-radius: 12px;
        background-color: #fff;
        max-width: 324px;
        transform: translate(-50%, -50%);
        z-index: 10001;
        text-align: center;
        overflow: hidden;
    }

    .modal-content{
        position: relative;
        padding: 24px 30px;
        color: $booking-color-text6;

        .btn-close{
            position: absolute;
            top:0;
            right: 0;
            display: flex;
            padding: 16px;
        }

        .madal-icon{
            opacity: 0.7;
        }

        .modal-desc{
            margin-top: 8px;
            color: $booking-color-text1;
            letter-spacing: -0.3px;
        }

        .modal-title{
            margin-top: 8px;
            font-size: 20px;
            font-weight: 700;

        }


    }
    .btn-area{
        display: flex;
        button{
            flex: 1;
            padding: 16px 0;
            font-size: 18px;
        }

        .btn-cancel{
            background-color: #edf1f4;
            color: #333;
        }

        .btn-confirm{
            background-image: linear-gradient(to left, #3accff, #2cec88);
        }
    }
}